<h2 class="title">Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "devise-input" %></div>

  <div>
  <%= f.password_field :password, :placeholder => "Password", :class => "devise-input"  %></div>
  
  <div class="devise-forgot">
  <%= render "devise/shared/links" %></div>
  
  <% if devise_mapping.rememberable? -%>
    <div class="devise-rememberme"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Login", :class => "main-button devise-button" %></div>
<% end %>
