<!DOCTYPE html>
<html>
<head>
  <title>Coach.me</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= stylesheet_link_tag "devise", :media => "all" %>  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
	  <div id="header-frame">
	    <div id="header">
	      <%= link_to image_tag("logo.png"), root_path, :class=>"logo" %>
	      <a class="header-links">Find a Coach</a>
	      <% if user_signed_in? %>
	        <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class=>"header-links right-link" %>
	      <% else %>
	        <%= link_to "Sign Up", new_user_registration_path, :class=>"header-links right-link" %>
          <%= link_to "Login", new_user_session_path, :class=>"header-links right-link" %>
	      <% end %>
	    </div>
	  </div>
	
	  <% # Something that devise wanted me to add, will look more into this later. %>
	  <p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>
	
	  <div id="content-frame">
	    <div id="content">
	      <%= yield %>
	    </div>
	  </div>
	
	  <div id="footer-frame">
	    <div id="footer">
	      <a href="">About</a>
	    </div>
	  </div>
  </div>
</body>
</html>
